<div class="grid-x grid-padding-y align-center">
<div class="small-8 cell">

<div class="grid-x">

<div class="small-4 cell">
  {% if page.previous.url %}
    <a href="{{page.previous.url}}">
      <div class="pagination align-middle">
        <svg class="icon icon-argrid-x-left"><use xlink:href="/assets/icons/symbol-defs.svg#icon-argrid-x-left"></use></svg> <span class="show-for-medium">Previous</span>
      </div>
    </a>
  {% endif %}
</div>

<div class="small-4 cell align-middle">
    <a href="/line-up/#all">
      <div class="pagination align-middle text-center">
        <svg class="icon icon-grid"><use xlink:href="/assets/icons/symbol-defs.svg#icon-grid"></use></svg>
      </div>
    </a>
</div>


<div class="small-4 cell text-right">
  {% if page.next.url %}
  <a href="{{page.next.url}}">
    <div class="pagination align-middle">
        <span class="show-for-medium">Next </span><svg class="icon icon-argrid-x-right"><use xlink:href="/assets/icons/symbol-defs.svg#icon-argrid-x-right"></use></svg>
    </div>
  </a>
  {% endif %}
</div>

</div>

</div>
</div>