@font-face {
  font-family: 'Wigrum-Medium';
  src: url('../fonts/Wigrum-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Wigrum-Medium.woff') format('woff'), url('../fonts/Wigrum-Medium.ttf')  format('truetype'), url('../fonts/Wigrum-Medium.svg#Wigrum-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}