//  Table of Contents:
//
//   1. Global
//   2. Typography
//   3. 404
//   4. Navigation
//   5. Sections
//   6. Excerpt
//   7. Page
//   8. Contact

// 1. Global
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

.accordion {
  margin-bottom: 0;
}

// 2. Typography
// -------------

i, cite, em, var, address, dfn {
  font-style: normal;
}

.white {
  color: $white;
}

// 4. Navigation
// -------------

.top-bar { 
@include links($primary-color, $black);
}

.top-bar__logo { 
 letter-spacing: -1px;
  margin-bottom: 0;
}

.top-bar__date { 
@include links($dark-gray, $black);
}

.top-bar__socials {
@include links($dark-gray, $black);
}

// 6. Navigation
// ------



// 6. Excerpt
// ----------

.excerpt {
  background-color: $primary-color;
  position:relative;
  opacity:1;
    &:hover .excerpt__image img {
    filter: grayscale(1) contrast(1.75);
    opacity: 0.5;
    } 
}

.excerpt__title {
  position:absolute;
  width: 100%;
  height: 100%;
  margin: 0rem;
  color: $white;
  z-index: 1;
}

// 5. Index
// --------

.index {
  background: url(/uploads/microphone-girl.png), url(/uploads/beer-girl.png);
  background-repeat:no-repeat;
  background-position:left bottom, right bottom;
  background-size: 60%, 50%;
  @include breakpoint(small) {
  padding-bottom: 20vh;
  }
  @include breakpoint(medium) {
  padding-bottom: 50vh;
  }
}

.index__gallery {
  height: 70vh;
}

.index__gallery-cell {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
  
.index__gallery__text {
	height: 100%;
}

.index__gallery__text__inner {
  @include links($white, $primary-color);
}


// 11. Location
// ------------


.location {
  background: url(/uploads/microphone-girl.png), url(/uploads/beer-girl.png);
  background-repeat:no-repeat;
  background-position:left bottom, right bottom;
  background-size: 60%, 50%;
  @include breakpoint(small) {
  padding-bottom: 20vh;
  }
  @include breakpoint(medium) {
  padding-bottom: 50vh;
  }
}

.location__map {
  @include breakpoint(small) {
  height: 70vh;
  }
  @include breakpoint(medium) { 
  height: 50vh;
  }
}

// 11. Event
// ---------

.event {
  background-image: url(/uploads/top-artwork-v4.png),url(/uploads/bottom-artwork-v4.png);
  background-repeat:no-repeat;
  background-position:center top, center bottom;
  background-size:contain, contain;
}

.event__title span {
  color: $white;
}


// 11. Tickets
// -----------

.tickets {
  min-height: 50rem;
  background-image: url(/uploads/top-artwork.png),url(/uploads/bottom-artwork.png);
  background-repeat:no-repeat;
  background-position:center top, center bottom;
  background-size:contain, contain;
}

// 11. About
// --------

.about {
  background-image: url(/uploads/top-artwork-v2.png);
  background-repeat:no-repeat;
  background-position:center top;
  background-size:contain;
}


// 11. Line-up
// --------


// 11. Info
// --------

.info {
  background-image: url(/uploads/top-artwork.png),url(/uploads/bottom-artwork-v3.png);
  background-repeat:no-repeat;
  background-position:center top, center bottom;
  background-size:contain, contain;
}

/*
.info .accordion-content {
  padding: 2rem;
}
*/


// 11. Footer
// ----------


footer {
  color: $secondary-color;
  @include links($secondary-color, $white);
  background-color: get-color(primary-background);
}