//  Table of Contents:
//
//   1. Global
//   2. Typography
//   3. 404
//   4. Navigation
//   5. Sections
//   6. Excerpt
//   7. Page
//   8. Contact

// 1. Global
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

// 2. Typography
// -------------

// 3. 404
// ------

// 4. Navigation
// -------------

.top-bar { 
@include links($primary-color, $black);
}

.top-bar__logo { 
 letter-spacing: -1px;
}

.top-bar__date { 
@include links($dark-gray, $black);
}

.top-bar__socials {
@include links($dark-gray, $black);
}

// 6. Navigation
// ------

.navigation__logo {
  z-index: 2;
}

.navigation--mobile {
  z-index: 1;
  position: fixed;
  background: $white;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
  opacity: 0;
//   transition: $primary-transition;
  visibility: hidden;
  font-family: $header-font-family;
  font-size: 1.25rem;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  a {
   padding: 1rem 0rem;
  }
}



// 6. Excerpt
// ----------

.excerpt {
  position:relative;
  opacity:1;
    &:hover .excerpt__image:after {
      background:$black;
      opacity:0.4;
    }
    &:hover .excerpt__title {
      opacity: 1;
      color: $white;
    }
    &:hover .excerpt__image img {
    filter: grayscale(1);
    } 
}

.excerpt__title {
  position:absolute;
  width: 100%;
  height: 100%;
  margin: 0rem;
  font-family: $header-font-family;
  font-size: 1.25rem;
  color: $white;
  z-index: 1000;
}

.excerpt__image:after {
  content:'\A';
  position:absolute;
  width:100%; 
  height:100%;
  top:0; 
  left:0;
  background:$black;
//   transition: $primary-transition;
  opacity: 0.0;
}

.excerpt__image:after p {
  z-index: 10000;
}


// 5. Index
// --------

.index {
  background: url(/uploads/bottom-artwork.png);
  background-repeat:no-repeat;
  background-position:center bottom;
  background-size:contain;
}

.index__gallery {
  height: 60vh;
  z-index: 0;
}

.index__gallery-cell {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: 0; 
}
  
.index__gallery__text {
	height: 100%;
}


.index__gallery__text__inner {
  @include links($white, $primary-color);
}


// 11. Location
// ------------


.location {
  background-image: url(/uploads/top-artwork-v4.png);
  background-repeat:no-repeat;
  background-position:center top;
  background-size:contain;
}

.location__map {
  @include breakpoint(small) {
  height: 70vh;
  }
  @include breakpoint(medium) { 
  height: 50vh;
  }
}

// 11. Event
// ---------

.event {
  background-image: url(/uploads/top-artwork-v4.png),url(/uploads/bottom-artwork-v4.png);
  background-repeat:no-repeat;
  background-position:center top, center bottom;
  background-size:contain, contain;
}

.event__title {
  padding-bottom: 1rem;
  color: $black;
}

.event__title h3 {
//   color: $trinidad;
}

.event__title span {
  color: $medium-gray;
}

.event__acts {
  padding-bottom: 2rem;
}

.event__text {
  padding-bottom: 2rem;
}

.event__text h5 {
  margin-bottom: 0.5rem;
}


.event .excerpt {
    &:hover .excerpt__image:after {
//       background:$dark-blue;
//       transition: $primary-transition;
//       opacity:0.1;
    }
    &:hover .excerpt__image img {
    filter: grayscale(0);
    } 
}



// 11. Tickets
// -----------

.tickets {
  min-height: 50rem;
  background-image: url(/uploads/top-artwork.png),url(/uploads/bottom-artwork.png);
  background-repeat:no-repeat;
  background-position:center top, center bottom;
  background-size:contain, contain;
}

.tickets h3 {
  margin-bottom: 0.25rem;
}

.tickets h5 {
  margin-bottom: 0rem;
}

.tickets .callout h5 {
  margin-bottom: 1rem;
}

.tickets__time {
  margin-bottom: 1rem;
}

.tickets__button {
  background-color: red;
}

.tickets span {
  font-family: $body-font-family;
  padding-left: 0.5rem;
}

.tickets__acts {
  @include breakpoint(small only) {
    padding: 2rem 0rem;
  }
}

// 11. About
// --------

.about {
  background-image: url(/uploads/top-artwork-v2.png);
  background-repeat:no-repeat;
  background-position:center top;
  background-size:contain;
}

.about__images img {
  opacity: 1;
//   transition: $primary-transition;
}

.about__images:hover img {
  opacity: 0.8;
}


// 11. Line-up
// --------

.line-up {
/*
  min-height: 50rem;
  background-image: url(/uploads/top-artwork-v3.png),url(/uploads/bottom-artwork.png);
  background-repeat:no-repeat;
  background-position:center top, center bottom;
  background-size:contain, contain;
*/
}

// 11. Info
// --------

.info {
  background-image: url(/uploads/top-artwork.png),url(/uploads/bottom-artwork-v3.png);
  background-repeat:no-repeat;
  background-position:center top, center bottom;
  background-size:contain, contain;
}

// 11. Pagination
// --------

.pagination .icon {
  vertical-align: middle;
  font-size: 2rem;
  color: $medium-gray;
}

// 11. Footer
// ----------


footer {
  color: $secondary-color;
  @include links($secondary-color, $white);
  background-color: get-color(primary-background);
}