//  Table of Contents:
//
//   1. Global
//   2. Typography
//   3. 404
//   4. Navigation
//   5. Sections
//   6. Excerpt
//   7. Page
//   8. Contact

// 1. Global
// ---------

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}



body {
  cursor: default;
}

svg {
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


::selection {
  background: $color--black;
  color: $color--white;
}

a {
  transition: $primary-transition;
}

.main-content {
  /* flex: 1; would be enough but it looks bad in IE */
  flex: 1 0 auto;
  background: url(/uploads/artwork_rev2.png);
  background-repeat:no-repeat;
  background-position:center bottom;
  background-size:contain;
  padding-bottom: 20rem;
}

.site-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


// 2. Typography
// -------------

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

@mixin header-tight {
  margin-bottom: 0rem;
}

// 3. 404
// ------

.missing {
  margin-top: 3rem;
  margin-bottom: 3rem;
    a {
      color: $color--dark-gray;
    }
    a:hover {
      color: $color--black;
    }
}

// 4. Navigation
// -------------

.top-bar a { 
  color: $color--white;
  &:hover {
      color: $color--trinidad;
    }
}

nav { 
  z-index: 2000;
}

.top-bar { 
  z-index: 3000;
}

.top-bar__logo { 
 font-size: 1.5rem;
 font-family: $secondary-font-family;
 @include breakpoint(small only) {
  font-size: 1.1rem;
  }
 @include breakpoint(medium only) {
  font-size: 1.25rem;
  }
}

.top-bar__date a { 
  padding-top: 4px;
  color: $color--iron;
}

.top-bar__socials a {
    color: $color--iron;
    @include transition(color .35s ease-out);
    text-decoration: $anchor-text-decoration;
    line-height: inherit;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $color--white;
      @if $anchor-text-decoration-hover != $anchor-text-decoration {
        text-decoration: $anchor-text-decoration-hover;
      }
    }
}


// 6. Excerpt
// ----------

.excerpt {
  position:relative;
  opacity:1;
  margin: 0.5rem;
  transition: $primary-transition;
    @include breakpoint(medium only) {
      margin: 0.75rem;
    }
    @include breakpoint(small only) {
      margin: 0.75rem;
    }
    img {
      width:100%;
    }
    &:hover .excerpt__image:after {
      background:$color--trinidad;
      transition: $primary-transition;
      opacity:0.8;
    }
    &:hover .excerpt__title p {
      opacity: 1;
      color: $color--white;
    }
    &:hover .excerpt__image img {
    filter: grayscale(1);
    } 
}

.excerpt__title {
  position:absolute;
  width: 100%;
  height: 100%;
  margin: 0rem;
    p {
      font-family: $header-font-family;
      font-size: 1.25rem;
      opacity: 1;
      color: $color--white;
      transition: $primary-transition;
//       letter-spacing: 0.05rem;
      margin: 0rem;
      z-index: 1000;
    }
}

.top-bar-right {
  z-index: 1000;
}

div.row.excerpt__title {
  margin: 0rem;
  z-index: 5;
}

.excerpt__image:after {
  content:'\A';
  position:absolute;
  width:100%; 
  height:100%;
  top:0; 
  left:0;
  background:$color--black;
  transition: $primary-transition;
  opacity:0.1;
//   z-index: 0;
}

/*
.excerpt__image:after p {
  z-index: 10000;
}
*/


// 8. Contact
// -------

.contact__location__map {
    height: 20rem;
}


// 5. Index
// --------



// 11. Footer
// ----------


// 11. Holding
// ----------

// Footer

footer {
  font-family: $font-family-monospace;
  color: $color--white;
  background-color: $color--dark-blue;
  // Only affects medium screens and smaller
  @include breakpoint(small) {
  padding: 2rem 0rem;
  }
  // Only affects medium screens, not small or large
  @include breakpoint(medium) { 
  padding: 3rem 0rem;
  }
}

footer a {
    color: $color--white;
    @include transition(color .35s ease-out);
    text-decoration: $anchor-text-decoration;
    line-height: inherit;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $color--trinidad;
      @if $anchor-text-decoration-hover != $anchor-text-decoration {
        text-decoration: $anchor-text-decoration-hover;
      }
    }

    img {
      border: 0;
    }
  }

.footer__link a {
    color: $color--trinidad;
    @include transition(color .35s ease-out);
    text-decoration: $anchor-text-decoration;
    line-height: inherit;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $color--white;
      @if $anchor-text-decoration-hover != $anchor-text-decoration {
        text-decoration: $anchor-text-decoration-hover;
      }
    }
}

.footer__socials {
    padding: 0rem 0rem 2rem 0rem;
}


.footer__form {
    padding: 2rem 0rem 0rem 0rem;
}

footer .button {
	@include button-style($color--trinidad, $color--black, $color--white);
}

.footer__partners .icon {
    font-size: 3rem;
}

// Location

.location {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.contact__location__map {
  margin-bottom: 2rem;
  height: 30rem;
}

// Event

.event {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

// Tickets

.tickets {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

// Info

.info {
  padding-top: 2rem;
  padding-bottom: 2rem;
}


.gallery {
  height: 60vh;
  z-index: 1;
  @include breakpoint(small) {
  height: calc(100vh - 120px);
  }
  // Only affects medium screens, not small or large
  @include breakpoint(medium) { 
  height: 70vh;
  }
}

.gallery-cell {
  width: 100%;
  height: 100%;
  /* inherit height from gallery */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: 1; }
  
.gallery__text {
	height: 100%;
}


.gallery__text__inner a {
	color: $color--white;
	&:hover {
      color: $color--trinidad;
    }
}

.gallery__text__inner h1 a {
  padding-bottom: 0.1rem;
	border-bottom: 2px solid $color--white;
}


.ticket__details {
  
}