---
layout: default
---

<section class="about">
  
  <div class="grid-container">
    
    <div class="grid-x align-center margin-top-3 margin-bottom-3">
      <div class="small-12 medium-6 cell">
        <div class="grid-x grid-padding-y grid-padding-x">
        <div class="small-12 cell">
        {{content | markdownify}}
        </div>
        </div>
      </div>
      
      <div class="small-12 medium-6 cell">	
        <div class="grid-x grid-padding-y grid-padding-x small-up-1 medium-up-2" id="gallery">
          {% for image in page.images %}
          <div class="cell about__images" data-src="{{image}}">
            <a href="{{image}}"><img src="{{image }}" class="excerpt__image"></a>
          </div>
          {% endfor %}
        </div>
      </div>
      
    </div>
    

  </div>
  
</section>