---
layout: default
---

<!-- Content -->
<div class="row page__content">
  <div class="small-10 medium-10 columns">
    {{ page.content | markdownify }}
  </div>
</div>
<!-- End Content -->


<div class="row collapse small-up-1 medium-up-2 large-up-3">
  
{% if page.title contains 'Wednesday' %}
  {% for day in site.line-up %}
  {% if day.categories contains 'wednesday' %}
    {% for act in day.acts %}
    {% include excerpt.html %}
    {% endfor %}
  {% endif %}
  {% endfor %}
{% elsif page.title contains 'Thursday' %}
  {% for day in site.line-up %}
  {% if day.categories contains 'thursday' %}
    {% for act in day.acts %}
    {% include excerpt.html %}
    {% endfor %}
  {% endif %}
  {% endfor %}
{% elsif page.title contains 'Friday' %}
  {% for day in site.line-up %}
  {% if day.categories contains 'friday' %}
    {% for act in day.acts %}
    {% include excerpt.html %}
    {% endfor %}
  {% endif %}
  {% endfor %}
{% elsif page.title contains 'Saturday' %}
  {% for day in site.line-up %}
  {% if day.categories contains 'saturday' %}
    {% for act in day.acts %}
    {% include excerpt.html %}
    {% endfor %}
  {% endif %}
  {% endfor %}
{% elsif page.title contains 'Sunday' %}
  {% for day in site.line-up %}
  {% if day.categories contains 'sunday' %}
    {% for act in day.acts %}
    {% include excerpt.html %}
    {% endfor %}
  {% endif %}
  {% endfor %}
{% endif %}

</div>