---
layout: default
---

<!-- Works -->
<div class="grid-container show-for-small-only">
  <div class="grid-x grid-padding-x grid-padding-y">
    {% assign works = site.work | sort: 'position' | where: "is-featured", "true" %}
    {% for work in works %}
      {% include blocks/excerpt.html %}
    {% endfor %}
  </div>
</div>
<!-- End Works -->


<div class="swiper-container show-for-medium">

  <div class="swiper-button-prev-test flex-container align-center-middle"></div>
  <div class="swiper-button-next-test flex-container align-center-middle"></div>


  <div class="swiper-wrapper">
    {% assign works = site.work | sort: 'position' | where: "is-featured", "true" %}
    {% for work in works %}
      <div class="swiper-slide small-10 medium-7 padding-horizontal-2 cell text-center">
            {% assign image = work.image %}
            <div class="margin-bottom-2 slide align-middle" data-interchange="{% include images/interchange-img-small-12-medium-6-cell.html %}">

              <a href="{{ work.url }}">      

              <div class="content grid-y align-center show-for-large">
                <div class="shrink cell padding-1">
                

                      <div class="grid-x align-center">
                        <div class="small-10 medium-10 large-8 cell">
                          <div class="text-lowercase">Client — {{ work.client }}</div>
                          {% if work.subject %}<div class="text-lowercase">Subject — {{ work.subject }}</div>{% endif %}
                          <div class="margin-top-2">{{ work.excerpt | markdownify }}</div>
                        </div>
                      </div>
                    

                </div>
              </div>

              {% if work.video %}
              <div class="content-type grid-y align-center show-for-medium">
                <div class="shrink cell padding-1">
                

                      <div class="grid-x align-center">
                        <div class="small-10 medium-10 large-8 cell">
<svg class="icon icon-play_arrow"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play_arrow"></use></svg>
                        </div>
                      </div>
                    

                </div>
              </div>
              {% endif %}



              
              </a>

            </div>
            
            <div class="meta padding-bottom-2">
            <div class="text-lowercase">{{ work.client }} {% if work.project %}— {{ work.project }}{% endif %}</div>
            {% if work.subject %}<div class="text-lowercase">{{ work.subject }}</div>{% endif %}
            </div>

        </div>
    {% endfor %}
  </div>

</div>