---
layout: default
---

<!-- Hero -->
<section class="index__hero">
  <div class="index__hero__cell" data-wow-delay="1s" id="hero" data-vide-bg="assets/videos/video" data-vide-options="posterType: jpg, loop: true, muted: true, position: 50% 50%">
      <div class="row index__hero__cell__text align-middle">
          <div class="small-10 small-offset-1 medium-8 medium-offset-0 large-6 columns">
            <h1>Without promotion nothing happens</h1>
          </div>
       </div> 
  </div>
</section>
<!-- End Hero -->
