---
layout: default
---

<div class="orbit" role="region" aria-label="Featured Acts" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span><svg class="icon icon-arrow-left"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-left"></use></svg></button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span><svg class="icon icon-arrow-right"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-right"></use></svg></button>
    {% assign act_documents = site.carousel | sort:"position" %}
    {% for act in act_documents %}
    <li class="orbit-slide">
      
      <img class="orbit-image" src="{{act.image}}" alt="{{act.title}}">
      
      <div class="orbit-header">
        <div class="row align-center expanded">
          <div class="small-8 columns text-center">
          <h1><a href="{{act.link}}">{{act.title}}</a></h1>
          <h4><a href="{{act.link}}">{{act.subheader}}</a></h4>
          {% if act.sold-out %}
          <h4><a href="{{act.link}}" class="sold">Sold Out</a></h4>
          {% endif %}
          </div>
        </div>
      </div>
        
    </li>
    {% endfor %}
  </ul>
</div>


<div class="row collapse small-up-1 medium-up-2 large-up-3">
  {% for day in site.line-up %}
    {% for act in day.acts %}
      {% include excerpt.html %}
    {% endfor %}
  {% endfor %}
</div>