---
layout: default
---

<div class="row page-title">
	<div class="small-12 columns text-center">
		<h1>{{page.['title']}}</h1>
	</div>
</div>

<section class="info">
<div class="row">
	<div class="small-12 columns">
	<ul class="accordion" data-accordion  data-multi-expand="true" data-allow-all-closed="true">
	  
	  {% for details in page.general %}
	  <li class="accordion-item" data-accordion-item>
	    <a href="#" class="accordion-title">{{details.title}}</a>
	    <div class="accordion-content" data-tab-content>
		{{ details.text | markdownify }}
	    </div>
	  </li>
	  {% endfor %}
	  
	  
	</ul>
	</div>
</div>
</section>

