---
layout: default
---

<section class="tickets">
<div class="grid-container">
  {% assign collection = site.line-up | group_by_exp: "item", "item.date | date: '%A %-d %B'" %}
  {% for day in collection %}
  
  <!-- Day -->
  <div class="grid-x grid-padding-y align-center text-lowercase">
  <div class="shrink cell">
    <h2 class="separator-center">{{ day.name }}</h2>
  </div>
  </div>
  <!-- End Day -->
  
  
  {% assign sorted = day.items | sort: 'date' %}
  {% for day in sorted %}
  
  <!-- Time -->
  <div class="grid-x align-center tickets__time">
    <div class="shrink cell">
      <h4>{{ day.date | date: "%l:%M%p" }}</h4>
    </div>
  </div>
  <!-- End Time -->
  
  <!-- Panel -->
  <div class="grid-x">
    <div class="cell">
    
      <div class="callout grid-x grid-padding-x grid-padding-y collapse text-center">

          
          <div class="small-12 large-3 cell align-self-middle">
            {% for act in day.acts limit:1 %}
            <img src="{{act.image}}" alt="{{act.title}}">
            {% endfor %}
          </div>
          
          <div class="small-12 large-3 cell align-self-middle tickets__acts text-lowercase">
            {% for act in day.acts %}
              <h4>{{ act.name }}</h4>
            {% endfor %}
          </div>
          
          <div class="show-for-large small-12 large-4 cell align-self-middle">
            <h5 class="text-lowercase">Festival Opens<span>{{ day.festival-starts-at | date: "%l:%M%p" }}</span></h5>
            <h5 class="text-lowercase">Show Starts<span>{{ day.show-starts-at | date: "%l:%M%p" }}</span></h5>
            <h5 class="text-lowercase">Tickets<span>{{ day.ticket-price }}</span></h5>
          </div>
          
          <div class="small-12 large-2 cell align-self-middle">
            {% if day.is-sold-out == true %}
        <a class="button large expanded">Sold Out</a>
        {% else %}
        <a class="button large hollow expanded" href="{{day.ticket-link}}" target="_blank">Buy Tickets</a>
        {% endif %}
          </div>
          

      </div>
    
    </div>
  </div>
  <!-- End Panel -->
  {%endfor%}
  {%endfor%}
</div>
</section>